<style type="text/css">
    * {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
    }

    ul {
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .btn-circle {
        width: 50px;
        min-width: 50px;
        height: 50px;
        padding: 10px 16px;
        font-size: 24px;
        line-height: 1.33;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
    }

    .btn-circle.danger {
        border-color: #d73925;
        background-color: #dd4b39;
        color: white;
        padding: 13px 0px 0px 0px;
    }

    .btn-circle.danger:hover {
        background-color: #ac2925;
        border-color: #761c19;
    }

    .btn-circle.danger:focus {
        background-color: #c9302c;
        border-color: #761c19;
    }

    .btn-circle.danger:active {
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        background-color: #d73925;
    }

    .btn-circle.btn-left-vol {
        padding: 11px 0px 0px 16px;
        line-height: 1.33;
        border-top-left-radius: 25px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 25px;
        border-right-width: 0px;
        margin-right: -5px;
        margin-left: -5px
    }

    .btn-circle.btn-right-vol {
        padding: 11px 16px 0px 10px;
        line-height: 1.33;
        border-top-left-radius: 0px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 0px;
        border-left-width: 1px;
        margin-left: 0px;
    }

    .btn-circle-centre-vol {
        width: 50px;
        min-width: 50px;
        height: 50px;
        font-size: 18px;
        line-height: 1.33;
        border-left-width: 1px;
        border-right-width: 0px;
        margin-left: 0px;
        margin-right: -10px;
        padding: 11px 0px 0px 0px;
    }

    .btn-circle.btn-left-prog {
        padding: 5px 0px 0px 5px;
        line-height: 1.33;
        border-top-left-radius: 25px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 25px;
        border-right-width: 0px;
        margin-right: -5px;
        margin-left: -5px
    }

    .btn-circle.btn-right-prog {
        padding: 6px 10px 0px 10px;
        line-height: 1.33;
        border-top-left-radius: 0px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 0px;
        border-left-width: 1px;
        margin-left: 0px;
    }

    .btn-circle-centre-prog {
        width: 50px;
        min-width: 50px;
        height: 50px;
        font-size: 18px;
        line-height: 1.33;
        border-left-width: 1px;
        border-right-width: 0px;
        margin-left: 0px;
        margin-right: -10px;
        padding: 14px 0px 0px 0px;
    }

    .circle {
        position: relative;
        margin: auto;
        margin-top: 40px;
        width: 160px;
        height: 160px;
        padding: 0px;
        border-radius: 50%;
        background: #3d8dbc;
    }

    .circle li {
        position: absolute;
        color: white;
    }

    .circle li:active {
        color: #00c0ef;
    }

    .circle li:nth-child(1) {
        top: -4px;
        left: 66px;
    }

    .circle li:nth-child(2) {
        top: 57px;
        left: 135px;
    }

    .circle li:nth-child(3) {
        top: 121px;
        left: 66px;
    }

    .circle li:nth-child(4) {
        top: 57px;
        left: 10px;
    }

    .btn-ok {
        position: absolute;
        width: 80px;
        height: 80px;
        top: 40px;
        left: 40px;
        margin: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 27px;
        padding-bottom: 0px;
        font-size: 18px;
        line-height: 1.33;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
        border-bottom-left-radius: 40px;
    }

    .btn-pad {
        width: 50px;
        min-width: 50px;
        height: 50px;
        font-size: 18px;
        line-height: 1.33;
        margin: 0px 10px 10px 0px;
    }

    .btn-cde {
        width: 50px;
        min-width: 50px;
        height: 50px;
        font-size: 18px;
        line-height: 1.33;
        margin: 5px 0px 5px 5px;
    }

    .btn-cde-glyphicon {
        top: 0px;
    }

    .btn-cde.btn-rec {
        color: #dd4b39;
        margin: 0px 0px 0px 15px;
    }

    .btn-rec:hover {
        color: #ac2925;
    }

    .btn-rec:active {
        color: #d73925;
    }

    .box-footer-tv {
        background-color: #c0c0c085;
    }
</style>

<div class="box box-info" data-ng-controller="TelevisionCtrl as vm" ng-init="vm.init(<%= boxId %>);">
    <div class="box-header with-border">
        <i class="fa fa-television"></i>
        <h3 class="box-title">
            <%= __('box-television-title') %>
        </h3>
    </div>

    <!-- /.box-header -->
    <div class="box-body">
        <div ng-show="vm.roomId" class="ng-cloak">

            <!-- on/off -->
            <div class="row">
                <div class="col-sm-2 text-left">
                    <a ng-click="vm.switchState()" class="btn btn-app btn-circle danger"><i class="fa fa-power-off"></i></a>
                </div>
                <!-- Volume + et - -->
                <div class="col-sm-5 text-center">
                    <a ng-click="vm.volumeDown()" class="btn btn-app btn-circle btn-left-vol"><i class="glyphicon glyphicon-volume-down"></i></a>
                    <a ng-click="vm.setMuted()" class="btn btn-app btn-circle-centre-vol"><i class="glyphicon glyphicon-volume-off"></i></a>
                    <a ng-click="vm.volumeUp()" class="btn btn-app btn-circle btn-right-vol"><i class="glyphicon glyphicon-volume-up"></i></a>
                </div>
                <!-- prog + et - -->
                <div class="col-sm-5 text-center">
                    <a ng-click="vm.programMinus()" class="btn btn-app btn-circle btn-left-prog">-</a>
                    <a class="btn btn-app btn-circle-centre-prog"><i class="fa fa-tv"></i></a>
                    <a ng-click="vm.programPlus()" class="btn btn-app btn-circle btn-right-prog">+</i></a>
                </div>
            </div>

            <div class="row">
                <!--Joystick-->
                <div class="col-sm-7 text-center">
                    <div class="circle">
                        <ul>
                            <li ng-click="vm.pressKey('up')" ><i class="fa fa-3x fa-caret-up"></i></li>
                            <li ng-click="vm.pressKey('right')"><i class="fa fa-3x fa-caret-right"></i></li>
                            <li ng-click="vm.pressKey('down')"><i class="fa fa-3x fa-caret-down"></i></li>
                            <li ng-click="vm.pressKey('left')"><i class="fa fa-3x fa-caret-left"></i></li>
                        </ul>
                        <a ng-click="vm.pressKey('ok')" class="btn btn-app btn-circle btn-ok">OK</a>
                    </div>
                </div>
                <!--Pavé numérique-->
                <div class="col-sm-5 text-center">
                    <ul>
                        <li>
                            <a class="btn btn-app btn-pad" ng-click="vm.setChannel(1)">1</a>
                            <a class="btn btn-app btn-pad" ng-click="vm.setChannel(2)">2</a>
                            <a class="btn btn-app btn-pad" ng-click="vm.setChannel(3)">3</a>
                        </li>
                        <li>
                            <a class="btn btn-app btn-pad" ng-click="vm.setChannel(4)">4</a>
                            <a class="btn btn-app btn-pad" ng-click="vm.setChannel(4)">5</a>
                            <a class="btn btn-app btn-pad" ng-click="vm.setChannel(5)">6</a>
                        </li>
                        <li>
                            <a class="btn btn-app btn-pad" ng-click="vm.setChannel(7)">7</a>
                            <a class="btn btn-app btn-pad" ng-click="vm.setChannel(8)">8</a>
                            <a class="btn btn-app btn-pad" ng-click="vm.setChannel(9)">9</a>
                        </li>
                        <li>
                            <a class="btn btn-app btn-pad" ng-click="vm.setChannel(0)">0</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div ng-show="vm.displayAskRoomForm" class="ng-cloak">
            <p>
                <%= __('box-television-television-select-room') %>
            </p>
            <div class="row">
                <div class="col-xs-offset-2 col-xs-6">
                    <select ng-model="vm.selectedRoomId" class="form-control">
                        <option ng-repeat="room in vm.rooms" value="{{room.id}}">{{room.name}}</option>
                    </select>
                </div>
                <div class="col-xs-2"> <button class="btn btn-success btn-flat" ng-click="vm.selectRoomId(vm.selectedRoomId);"><%= __('box-television-television-validate') %></button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer box-footer-tv">
        <div ng-show="vm.roomId" class="ng-cloak">
            <div class="row">
                <div class="col-sm-3 text-center">
                    <a class="btn btn-app btn-cde" ng-click=""><i class="glyphicon btn-cde-glyphicon glyphicon-log-in"></i></a>
                    <a class="btn btn-app btn-cde" ng-click="vm.openMenu()"><i class="fa fa-bars"></i></a>
                </div>
                <div class="col-sm-9 text-center">
                    <a class="btn btn-app btn-cde" ng-click="vm.rewind()"><i class="fa fa-backward"></i></a>
                    <a class="btn btn-app btn-cde" ng-click="vm.play()"><i class="fa fa-play"></i></a>
                    <a class="btn btn-app btn-cde" ng-click="vm.pause()"><i class="fa fa-pause"></i></a>
                    <a class="btn btn-app btn-cde" ng-click="vm.stop()"><i class="fa fa-stop"></i></a>
                    <a class="btn btn-app btn-cde" ng-click="vm.fastForward()"><i class="fa fa-forward"></i></a>
                    <a class="btn btn-app btn-cde btn-rec" ng-click="vm.rec()"><i class="glyphicon btn-cde-glyphicon glyphicon-record"></i></i></a>
                </div>
            </div>
        </div>
    </div>
</div>