<div id="search" data-ng-controller="BrainCtrl as vm">
   <!-- <button type="button" class="close">×</button> -->
    <form>
        <input id="searchInput" type="search" ng-model="vm.text" ng-keypress="$event.keyCode == 13 && vm.classify(vm.text)"  value="" placeholder="<%= __('search-placeholder') %>" autocomplete="off" />
       <!-- <button type="submit" class="btn btn-flat btn-primary">Search</button>-->
    </form>
    <p id="searchResult" ng-model="vm.answer"></p>
</div>

<script>
document.onkeydown = keydown;

function keydown(evt){
  if (evt.ctrlKey && evt.keyCode == 32){ //CTRL+ALT+F4
    var search = document.getElementById('search');
    search.className = 'open';
    document.getElementById('searchInput').focus();
  } else if (evt.keyCode == 27) {
      var search = document.getElementById('search');
      search.className = '';
      document.getElementById('searchInput').blur();
  }
}    
</script>