node_modules
*.db
*.db-shm
*.db-wal
apidoc
jsdoc
*.lcov
.nyc_output
.env
build
static
gladys-backups
qemu-*
coverage
persist
stats.json
size-plugin.json
# VSCode
.vscode
# Webstorm
.idea
.tmp
.DS_Store
