language: node_js

node_js:
  - '4'
  - '6'
  - '7'
  
services:
  - mysql

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
    

before_install:
  - npm install -g grunt-cli
  - mysql -e "create database IF NOT EXISTS gladystest;" -uroot

script:
  - "grunt coverage"
    
env:
  - CXX=g++-4.8