.goTo {
    display: block;
    position: fixed;
    bottom: 30px;
    left: 50px;
    animation: fadeOut 0.5s;

}

.halfCircleUp{
    border-radius: 50% 50% 0 0;
    width : 10px;  
}

.halfCircleUp:disabled, .halfCircleDown:disabled{
    
    opacity:20%; 
}


.halfCircleUp:enabled ,.halfCircleDown:enabled {
    opacity:50%;
  }

.halfCircleDown {
    border-radius: 0 0 50% 50%;
    width : 10px;
  }

