.goTo {
  display: block;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 10;
}

.halfCircleUp {
  border-radius: 50% 50% 0 0;
  width: 50px;
  height: 50px;
}

.halfCircleUp:disabled,
.halfCircleDown:disabled {
  opacity: 20%;
}

.halfCircleUp:enabled,
.halfCircleDown:enabled {
  opacity: 50%;
}

.halfCircleDown {
  border-radius: 0 0 50% 50%;
  width: 50px;
  height: 50px;
}
