<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gladys</title>

    <!-- Bootstrap Core CSS -->
    <link href="/AdminLTE/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/AdminLTE/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Custom CSS -->
    <link href="/styles/stylish-portfolio.css" rel="stylesheet">
    <!-- Custom Fonts -->

</head>

<body ng-app="gladys">

    <!-- Header -->
    <header id="top" class="header" >
        <div class="text-vertical-center">
            <h1 id="gladystext">Hi, I'm Gladys</h1>
            <!--<h3>Your personnal assistant</h3>-->
            <br>
                <!--<button class="btn btn-dark">Login</button>
                 <button class="btn btn-dark">Create account</button>   -->
            <% if(signupActive) { %>
                <a href='/installation' class="btn btn-dark"><%= __('Create my account') %></a>
            <% } else { %>
                <a href='/login' class="btn btn-dark"><%= __('Sign me in') %></a>
            <% } %>
        </div>
    </header>



    <!-- Footer -->
  <!-- <footer>
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <hr class="small">
                    <p class="text-muted">gladysproject.com</p>
                </div>
            </div>
        </div>
    </footer>
    -->
    
</body>

<script src="/js/dependencies/theater.min.js"></script>
<script src="/js/welcome/welcome.js"></script>
</html>
