<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gladys</title>

    <!-- Bootstrap Core CSS -->
    <link href="/styles/bootstrap.min.css" rel="stylesheet">
    <link href="/styles/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Custom CSS -->
    <link href="/styles/stylish-portfolio.css" rel="stylesheet">
    <link href="/styles/scenariostep.css" rel="stylesheet" type="text/css" />
    <!-- Custom Fonts -->


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="app">

    <!-- Header -->
    <header id="top" class="header" >
        <div class="text-vertical-center">
            <h1>Hi, I'm Gladys</h1>
            <!--<h3>Your personnal assistant</h3>-->
            <br>
                <!--<button class="btn btn-dark">Login</button>
                 <button class="btn btn-dark">Create account</button>   -->
            <a href='/register' class="btn btn-dark"><%= __('Create my account') %></a>
            <a href='/login' class="btn btn-dark"><%= __('Sign me in') %></a>
        </div>
    </header>



    <!-- Footer -->
   <!-- <footer>
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <hr class="small">
                    <p class="text-muted">gladysproject.com</p>
                </div>
            </div>
        </div>
    </footer>-->
    
    
</body>

</html>
