<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gladys</title>

    <!-- Bootstrap Core CSS -->
    <link href="/styles/bootstrap.min.css" rel="stylesheet">
    <link href="/styles/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Custom CSS -->
    <link href="/styles/stylish-portfolio.css" rel="stylesheet">
    <link href="/styles/scenariostep.css" rel="stylesheet" type="text/css" />
    <!-- Custom Fonts -->


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="app">

    <!-- Header -->
    <header id="top" class="header" >
        <div class="text-vertical-center">
            <h1>Hi, I'm Gladys</h1>
            <!--<h3>Your personnal assistant</h3>-->
            <br>
                <!--<button class="btn btn-dark">Login</button>
                 <button class="btn btn-dark">Create account</button>   -->
            <a href='/register' class="btn btn-dark"><%= __('Create my account') %></a>
            <a href='/login' class="btn btn-dark"><%= __('Sign me in') %></a>
        </div>
    </header>



    <!-- Footer -->
   <!-- <footer>
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <hr class="small">
                    <p class="text-muted">gladysproject.com</p>
                </div>
            </div>
        </div>
    </footer>-->
    
    
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/angular.min.js"></script>
    <script src="/js/dependencies/angular-route.min.js"></script>
    <script src="/js/dependencies/jquery.min.js"></script>
    <script src="/js/dependencies/bootstrap.min.js"></script>
    <script src="/js/dependencies/raphael-min.js"></script>
    <script src="/js/dependencies/morris.min.js"></script>
    <script src="/js/dependencies/moment-with-locales.js"></script>
    <script src="/js/dependencies/ace/ace.js"></script>
    <script src="/js/dependencies/jquery.simpleWeather.min.js"></script>
    <script src="/js/dependencies/bootstrap-datetimepicker.min.js"></script>
    <script src="/js/dependencies/datepicker/bootstrap-datepicker.js"></script>
    <script src="/js/ng-device-detector/ng-device-detector.min.js"></script>
    <script src="/js/ng-infinite-scroll/ng-infinite-scroll.js"></script>
    <script src="/js/angular-moment/angular-moment.min.js"></script>
    <script src="/js/angular-ui-notification/angular-ui-notification.min.js"></script>
    <script src="/js/smooth-scroll/angular-smooth-scroll.min.js"></script>
    <script src="/js/app/app.module.js"></script>
    <script src="/js/app/app.run.js"></script>
    <script src="/js/app/alarm/alarm.controller.js"></script>
    <script src="/js/app/alarm/alarm.service.js"></script>
    <script src="/js/app/calendar/calendar.controller.js"></script>
    <script src="/js/app/calendar/calendar.service.js"></script>
    <script src="/js/app/geolocation/geolocation.controller.js"></script>
    <script src="/js/app/geolocation/geolocation.service.js"></script>
    <script src="/js/app/global/language.service.js"></script>
    <script src="/js/app/googleapi/googleapi.controller.js"></script>
    <script src="/js/app/googleapi/googleapi.service.js"></script>
    <script src="/js/app/house/house.controller.js"></script>
    <script src="/js/app/house/house.service.js"></script>
    <script src="/js/app/installation/installation.controller.js"></script>
    <script src="/js/app/installation/installation.service.js"></script>
    <script src="/js/app/lifeevent/lifeevent.controller.js"></script>
    <script src="/js/app/lifeevent/lifeevent.service.js"></script>
    <script src="/js/app/machine/machine.controller.js"></script>
    <script src="/js/app/machine/machine.service.js"></script>
    <script src="/js/app/maps/maps.controller.js"></script>
    <script src="/js/app/maps/maps.service.js"></script>
    <script src="/js/app/milight/milight.controller.js"></script>
    <script src="/js/app/milight/milight.service.js"></script>
    <script src="/js/app/notification/notification.controller.js"></script>
    <script src="/js/app/notification/notification.service.js"></script>
    <script src="/js/app/now/now.controller.js"></script>
    <script src="/js/app/pushbullet/pushbullet.controller.js"></script>
    <script src="/js/app/pushbullet/pushbullet.service.js"></script>
    <script src="/js/app/room/room.controller.js"></script>
    <script src="/js/app/room/room.service.js"></script>
    <script src="/js/app/scenario/scenario.controller.js"></script>
    <script src="/js/app/scenario/scenario.service.js"></script>
    <script src="/js/app/script/script.controller.js"></script>
    <script src="/js/app/script/script.service.js"></script>
    <script src="/js/app/sensor/sensor.controller.js"></script>
    <script src="/js/app/sensor/sensor.service.js"></script>
    <script src="/js/app/sleep/sleep.controller.js"></script>
    <script src="/js/app/sleep/sleep.service.js"></script>
    <script src="/js/app/socket/socket.service.js"></script>
    <script src="/js/app/sound/sound.service.js"></script>
    <script src="/js/app/token/token.controller.js"></script>
    <script src="/js/app/token/token.service.js"></script>
    <script src="/js/app/user/user.service.js"></script>
    <script src="/js/app/weather/weather.controller.js"></script>
    <script src="/js/AdminLTE/app.js"></script>
    <!--SCRIPTS END-->
</body>

</html>
