.text-red-light {
  color: #ff4500;
}

.text-orange-dark {
  color: #fe7a15;
}

.text-night {
  color: #32506d;
  background-color: #32506d;
  border-color: #32506d;
}

.btn-rainbow {
  background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 100%) !important;
  background-repeat: repeat-y;
}

.btn-gradient-night {
  background-image: linear-gradient(90deg, var(--white) 0%, #D4D7D6 50%, var(--white) 100%) !important;
  background-repeat: repeat-y;
}

.btn-rainbow:not(:disabled):hover {
  background-blend-mode: darken;
}

.btn-gradient-night:not(:disabled):hover {
  background-image: linear-gradient(90deg, var(--white) 0%, #BDC1C1 50%, var(--white) 100%) !important;
}

.btn-outline {
  border-color: currentcolor;
  background-color: inherit;
}

.btn-outline:not(:disabled):hover {
  background-color: currentcolor;
}

.btn-outline:not(:disabled):hover i {
  color: white;
}

.btn-outline:not(:disabled):focus {
  box-shadow: 0 0 2px 0px currentColor;
}
