@-webkit-keyframes mouse-down {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
  
    100% {
        -webkit-transform: scale(0);
                transform: scale(0);
    }
}

@keyframes mouse-down {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
  
    100% {
        -webkit-transform: scale(0);
                transform: scale(0);
    }
}

@-webkit-keyframes mouse-up {
    0% {
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
        opacity: 0;
    }
  
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
}

@keyframes mouse-up {
    0% {
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
        opacity: 0;
    }
  
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
}
  
.btn-outer.circle, .btn-inner.circle {
    border-radius: 50% !important;
    padding: 0px !important;
    margin:0px !important;
}

.btn-outer {
    position: relative;
    width: 25px;
    height: 25px;
}

.btn-inner {
    position: relative;
    top:15%;
    left:15%;
    width: 70%;
    height: 70%;
    border:2px solid white !important;
    background-color: transparent !important;
}

.btn-inner-mouse-down {
    -webkit-animation: mouse-down 0.15s forwards ease-in-out;
            animation: mouse-down 0.15s forwards ease-in-out;
}

.btn-inner-mouse-up {
    -webkit-animation: mouse-up 0.15s forwards ease-in-out;
            animation: mouse-up 0.15s forwards ease-in-out;
}
