.box-full-width .box-body{
	padding: 0;
}

.spinner-box{
	width: 40px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.typing-indicator {
  font-style: italic;
}

.notification-item-a{
  overflow: auto !important;
  white-space: normal !important;
}

.notification-text{
  margin-top: 5px;
}

.widget-user-username{
  width: 70%; 
  margin-left: 2% !important;
  white-space: nowrap; 
  display: inline-flex;
}

.widget-user-username div{
  overflow: hidden; 
  text-overflow: ellipsis;
}

.user-panel p{
  text-overflow: ellipsis; 
  white-space: nowrap;
  overflow: hidden;
  max-width: 155px;
}

.user-menu a {
  text-overflow: ellipsis; 
  white-space: nowrap;
  overflow: hidden;
  max-width: 155px;
}

.select-user {
  text-overflow: ellipsis; 
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
}


/* Card */
.card {
  box-shadow: 0 1px 8px 1px rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 2px 16px 2px rgba(0,0,0,0.2);
}

/* Grid */
.grid {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 1000px) { 
  .grid-item {
    width: 49%;
  }
}

.grid-item {
  margin: 0.5%;
}