.nav-tabs-custom.nav-tabs-custom-primary > .nav-tabs > li.active {
    border-top-color: #3c8dbc;
  }
.nav-tabs-custom.nav-tabs-custom-red > .nav-tabs > li.active {
    border-top-color: #dd4b39;
  }
.nav-tabs-custom.nav-tabs-custom-yellow > .nav-tabs > li.active {
    border-top-color: #f39c12;
  }
.nav-tabs-custom.nav-tabs-custom-green > .nav-tabs > li.active {
    border-top-color: #00a65a;
  }
.nav-tabs-custom.nav-tabs-custom-black > .nav-tabs > li.active {
    border-top-color: #000000;
  }
.nav-tabs-custom.nav-tabs-custom-purple > .nav-tabs > li.active {
    border-top-color: #605ca8;
  }