
/**
* Modules
*/

.modules .module{
    margin-bottom: 10px;
}

.modules .module img{
    position: relative;
}

.modules .module .module-img{
    position: relative;
    overflow: hidden;
}
.modules .module .description{
    opacity: 0;
    position: absolute;
    top:-100%;left:0;right:0;bottom:0;
    background: rgba(0,0,0,0.5);
    padding:3px;
    color:rgba(255,255,255,1);
    text-shadow: 1px 0 0 rgba(0,0,0,1), -1px 0 0 rgba(0,0,0,1), 0 1px 0 rgba(0,0,0,1), 0 -1px 0 rgba(0,0,0,1);
    border-radius: 6px;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.modules .module:hover .description{
    opacity: 1;
    top:0;
}

.moduleInfos .infos{
    padding-top:3px;
    padding-bottom:3px;
}
.moduleInfos .module-img{
    margin-bottom:15px;
}
.moduleInfos .view{
    border-top:none;
    border-radius: 0;
}
.moduleInfos .list-group .list-group-item{
    border-radius: 0px;
    border-left:0px;
    border-right:0px;
}
.moduleInfos .list-group .list-group-item:first-child{
    border-top-color:transparent;
}
.moduleInfos .list-group .list-group-item:last-child{
    border-bottom-color:transparent;
}


.moduleInfos #postReviewZone{
    height: 15px;
}


.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 60px 80px;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}