/**
* Box television 
*/

    li {
        list-style: none;
    }

    ul {
        padding: 0;
    }

    .circle {
        position: relative;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 20px;
        width: 160px;
        height: 160px;
        padding: 0px;
        border-radius: 50%;
        background: #3d8dbc;
    }

    .circle li {
        position: absolute;
        color: white;
    }

    .circle li:active {
        color: #80b5d3;
    }

    .circle li:nth-child(1) {
        top: -4px;
        left: 66px;
    }

    .circle li:nth-child(2) {
        top: 57px;
        left: 135px;
    }

    .circle li:nth-child(3) {
        top: 121px;
        left: 66px;
    }

    .circle li:nth-child(4) {
        top: 57px;
        left: 10px;
    }

    .btn-ok {
        position: absolute;
        width: 80px;
        height: 80px;
        top: 40px;
        left: 40px;
        margin: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 27px;
        padding-bottom: 0px;
        font-size: 18px;
        line-height: 1.33;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
        border-bottom-left-radius: 40px;
    }

    .btn-margin {
        margin: 7px
    }

    .btn-left-rounded {
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
    }

    .btn-right-rounded {
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
    }

    .btn-circle2 {
        width: 40px;
        height: 40px;
        border-radius: 40px;
        text-align: center;
        color: white;
    }

    .box-footer-color {
        background-color: #3d8dbc57;
    }

    @media (max-width: 800px) {

        .btn-flat,
        .btn-primary,
        .btn-group {
            margin: 5px;
        }
    }