.deviceRowPopover {
  top: auto;
}

/* Chrome */
input[type='range'][class~='light-temperature']::-webkit-slider-runnable-track {
  background: linear-gradient(to right, rgb(178, 212, 251), rgb(243, 166, 60));
}

/* Firefox */
input[type='range'][class~='light-temperature']::-moz-range-progress {
  background: linear-gradient(to right, rgb(178, 212, 251), rgb(243, 166, 60));
}

/* Edge */
input[type='range'][class~='light-temperature']::-ms-fill-lower {
  background: linear-gradient(to right, rgb(178, 212, 251), rgb(243, 166, 60));
}

/* Chrome, Safari, Edge, Opera */
.removeNumberArrow::-webkit-outer-spin-button,
.removeNumberArrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.removeNumberArrow {
  -moz-appearance: textfield;
}

.setpointHorizontalControls {
  display: flex;
  min-width: 7rem;
}

.setpointVerticalControls {
  display: none;
}

@media ((min-width: 992px) and (max-width: 1300px)) or (max-width: 400px) {
  .setpointVerticalControls {
    display: block;
    min-width: 5rem;
  }
  .setpointHorizontalControls {
    display: none;
  }
}
.btnLoading {
  &::after {
    border: 2px solid #5eba00;
  }
}

.rangeInput {
  flex: 1;
}

.acModeGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 0.25rem;
  max-width: 100%;
}

.acModeButton {
  margin: 0;
  white-space: nowrap;
}
