.deviceRowPopover {
  top: auto;
}

/* Chrome */
input[type='range'][class~='light-temperature']::-webkit-slider-runnable-track {
  background: linear-gradient(to right, rgb(178, 212, 251), rgb(243, 166, 60));
}

/* Firefox */
input[type='range'][class~='light-temperature']::-moz-range-progress {
  background: linear-gradient(to right, rgb(178, 212, 251), rgb(243, 166, 60));
}

/* Edge */
input[type='range'][class~='light-temperature']::-ms-fill-lower {
  background: linear-gradient(to right, rgb(178, 212, 251), rgb(243, 166, 60));
}

/* Chrome, Safari, Edge, Opera */
.removeNumberArrow::-webkit-outer-spin-button,
.removeNumberArrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.removeNumberArrow {
  -moz-appearance: textfield;
}

.setpointHorizontalControls {
  display: flex;
  min-width: 7rem;
}

.setpointVerticalControls {
  display: none;
}

@media ((min-width: 992px) and (max-width: 1300px)) or (max-width: 400px) {
  .setpointVerticalControls {
    display: block;
    min-width: 5rem;
  }
  .setpointHorizontalControls {
    display: none;
  }
}
.btnLoading {
  &::after {
    border: 2px solid #5eba00;
  }
}

.rangeInput {
  flex: 1;
}

.airConditioningModeGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  justify-content: center;
  align-content: center;
  max-width: 16rem;
  margin-left: auto;
}

.airConditioningModeButton {
  flex: 0 0 auto;
  margin: 0;
}

.airConditioningModeLabel {
  max-width: 10rem;
  white-space: normal;
  line-height: 1.2;
}

.airConditioningModeControls {
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
  width: 17rem;
}
