<!-- Right side column. Contains the navbar and content of the page -->
            <aside class="content-wrapper">
                <script src="/js/dependencies/leaflet.js"></script>
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        <%= __('Maps') %>
                        <small><%= __('Control Panel') %></small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><p><i class="fa fa-dashboard"></i> <%= __('Home') %></p></li>
                        <li class="active"><%= __('Maps') %></li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content" ng-controller="MapsCtrl" data-ng-init="init()" >
                             <div id="map" style="width : 100%; height : 500px;"></div>
                </section><!-- /.content -->
            </aside><!-- /.content-wrapper -->

<script>
    document.getElementById("mapsLi").className = "active";
</script>