.btnTextLineSpacing {
  line-height: 1.5;
}
/* Default style for large screens */
.buttonGroup {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

/* Style for small screens */
@media (max-width: 768px) {
  .buttonGroup {
    flex-direction: column;
    align-items: stretch;
    /* so that the buttons take the full width */
  }

  .buttonGroup button:not(:last-child) {
    margin-bottom: 1rem;
  }
}